body {
  font-family: 'Poppins', sans-serif;
}

.banner {
  background-image: url(https://source.unsplash.com/wZjNp-xo1GI);
  background-size: cover;
  height: 400px;
  color: white;
  text-align: center;
}

.banner h2 {
  font-family: 'Handlee', cursive;
}

h2 {
  font-weight: lighter;
}

p {
  font-weight: lighter;
  font-family: 'Handlee', cursive;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
}

.button:hover {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
  background-color: b1a7a6;
}

@media(max-width: 1200px ) {
  .container {
    width: 1000px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}


@media(max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 400px;
  }
}
